{% if coll_back.avalible %}
    <main>
        <section class="widget widget_ci-custom-content widget-padded">
            <div class="widget-wrap wrap-extra-pad" style="background-image: url({% if coll_back.image %}{{ coll_back.image.url }}{% else %}http://placehold.it/1920x600{% endif %}); color: #fff;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-xs-12">
                            <div class="hero-content text-center">
                                {% if coll_back.title %}
                                    <h2 style="text-shadow: 0 0 7px red;" class="hero-title">{{ coll_back.title }}</h2>
                                {% else %}
                                    <h2 style="text-shadow: 0 0 7px red;" class="hero-title">Обратный звонок</h2>
                                {% endif %}
                                {% if coll_back.description %}
                                    <div class="hero-content-text">
                                        <p style="text-shadow: 0 0 3px blue;">{{ coll_back.description }}</p>
                                    </div>
                                {% endif %}
                                {% if coll_back.btn_name %}
                                    <a href="{% url 'coll_bacl_form_url' %}" class="btn btn-lg">{{ coll_back.btn_name }}<i class="fa fa-caret-right"></i></a>
                                {% else %}
                                    <a href="{% url 'coll_bacl_form_url' %}" class="btn btn-lg">Перезвонить<i class="fa fa-caret-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><br><br>
{% endif %}