/* -----------------------------------------
	05. Footer
----------------------------------------- */
.footer {
	background-color: $secondary-color;
	color: $text-on-secondary;

	a,
	.widget a {
		color: $text-on-secondary;

		&.social-icon {
			color: $secondary-color;
		}

		&:hover {
			color: $primary-color;
		}
	}

	.link-list-item,
	.menu-item {
		a {
			color: $secondary-color;
		}
	}
}

.footer-main {
	padding: 55px 0 0;
}

.footer-copy {
	text-transform: uppercase;
	font-size: 10px;
	font-family: $secondary-font;
	border-top: 1px solid $border-on-secondary;
	padding: 15px 0 30px;

	a {
		color: $primary-color;

		&:hover {
			color: $text-on-secondary;
		}
	}

	p {
		margin: 0;
	}
}