/* -----------------------------------------
	04. Modules
----------------------------------------- */

/* Site-Wide
=================================== */
.page-hero {
	background-color: $primary-color;
	color: $text-on-primary;
	padding: 40px 0;
}

.page-title {
	font-size: 36px;
	margin: 0;
}

.page-subtitle {
	margin: -3px 0 0;
}

.main {
	padding: 75px 0;
}

.main-home {
	padding: 0;
}


/* Entry Styles
=================================== */
.entry {
	margin: 0 0 60px;

	&:only-of-type {
		margin: 0;
	}
}

.entry-title {
	font-size: 30px;

	a {
		color: $text-color;

		&:hover {
			color: $primary-color;
		}
	}
}

.entry-meta {
	@include border-bottom;
	margin: -5px 0 35px;
}

.entry-meta-item {
	display: inline-block;
	margin: 0 10px 0 0;

	&::after {
		content: '/';
		color: $primary-color;
		font-weight: bold;
		margin-left: 12px;
	}

	&:last-child {
		margin-right: 0;

		&::after {
			display: none;
		}
	}

	a {
		color: $text-color;

		&:hover {
			color: $primary-color;
		}
	}
}

.entry-categories,
.entry-comments-link {
	font-weight: bold;
}

.entry-thumb {
	margin-bottom: 35px;

	&.alignnone,
	&.alignleft,
	&.alignright,
	&.aligncenter {
		margin-top: 0;
	}
}

.entry-content {
	@include clearfix;

	h1, h2, h3, h4, h5, h6 {
		margin: 30px 0 15px;
	}

	a {
		color: $text-color;
		font-weight: bold;
		border-bottom: 2px solid $primary-color;

		&:hover {
			border-bottom-color: $text-color;
		}
	}

	blockquote {
		border: 0;
		position: relative;
		padding-left: 50px;
		font-size: inherit;
		margin: 25px 0;

		cite {
			font-style: normal;
			font-size: 12px;
			font-weight: normal;
		}

		&::before {
			content: "“";
			position: absolute;
			left: 0;
			top: 0;
			font-family: $secondary-font;
			color: $primary-color;
			font-size: 80px;
			line-height: 0.8;
		}
	}
}


/* Modules
=================================== */

.module {
	margin-bottom: 60px;
}

/* Opening Hours */
.table-opening-hours {
	td {
		text-align: right;
		font-weight: bold;
	}
}

/* Testimonial */
.module-testimonial {
	border: 0;
	font-size: 13px;
	margin: 0;
	padding: 0;
	position: relative;

	&::before {
		content: "“";
		position: absolute;
		top: -5px;
		left: -10px;
		font-size: 10em;
		line-height: 0.5;
		font-style: normal;
		font-family: $secondary-font;
		opacity: 0.1;
	}
}

.module-testimonial-cite {
	display: table;
	width: 100%;
	font-weight: normal;
	color: $text-color;
}

.module-testimonial-avatar {
	width: 70px;
	padding-right: 10px;
	vertical-align: middle;
	display: table-cell;
}

.module-testimonial-author {
	font-style: normal;
	display: table-cell;
	vertical-align: middle;
	line-height: normal;

	strong,
	span {
		display: block;
	}

	span {
		font-size: 11px;
	}
}

/* Contact Info Module */
.ci-map-wrap {
	position: relative;
	padding-bottom: 60%;
	height: 0;
	margin-bottom: 15px;
	border: 2px solid $primary-color;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.module-contact-info {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		@include clearfix;
		display: block;
		margin-bottom: 7px;

		i {
			float: left;
			margin-right: 8px;
			width: 16px;
			font-size: 14px;
			line-height: 1.5;
			text-align: center;
		}

		span {
			display: block;
			overflow: hidden;
		}

		a {
			color: $text-color;
		}
	}
}

.module-contact-info-title {
	font-weight: bold;
	font-size: 14px;
}


/* Items
=================================== */
.row-items {
	margin-bottom: -40px;
}

.item {
	margin-bottom: 60px;
}

.item-icon {
	height: 40px;
	width: 40px;
	border: 2px solid $primary-color;
	font-size: 24px;
	line-height: 38px;
	text-align: center;
	margin-bottom: 15px;
}

.item-title {
	/* See inc/_widgets.scss */
}

.item-thumb {
	margin-bottom: 20px;
}

.item-center {
	text-align: center;

	.item-icon {
		display: inline-block;
	}

	.item-title {
		&::after {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.item-media {
	@include clearfix;

	.item-icon {
		float: left;
		margin-right: 15px;
	}

	.item-content {
		overflow: hidden;
	}
}

.item-entry {
	.item-title {
		margin: 0;
		padding: 0;

		&::after {
			display: none;
		}
	}
}

.item-entry-time {
	@include border-bottom;
	display: block;
	margin-bottom: 25px;

	.item-center & {
		&::after {
			margin-left: -15px;
			left: 50%;
		}
	}
}

/* Pricing Module
=================================== */
.table-pricing {
	margin-top: 60px;
}

.item-pricing {
	background-color: #FFF;
	border: 1px solid $border-color;
	padding: 25px 15px;
	margin: 0 0 30px;
	border-radius: 2px;

	.item-title,
	.item-subtitle {
		text-align: center;
	}

	.item-title {
		margin-bottom: 10px;

		&::after {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.item-pricing-featured {
	border: 3px solid $primary-color;
	padding-top: 38px;
	padding-bottom: 40px;
	margin-top: -15px;
	box-shadow: 0 0 14px rgba(black, 0.2);
}

.item-price {
	font-size: 48px;
	font-weight: bold;
	font-family: $secondary-font;
	letter-spacing: -0.05em;
	line-height: normal;
	margin: -4px 0 3px;
	text-align: center;

	.recurring {
		font-size: 11px;
		font-family: $primary-font;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: normal;
	}
}

.item-features {
	list-style: none;
	margin: 0 0 30px;
	padding: 0;

	li {
		padding: 6px 0 7px 2px;
		position: relative;
		border-bottom: 1px solid rgba($border-color, 0.45);

		&:before {
			font-family: FontAwesome;
			content: '\f00c';
			color: #5CC239;
			font-size: 18px;
			margin-right: 7px;
			position: relative;
			top: 1px;
		}

		&.no {
			&:before {
				content: '\f00d';
				color: #bdbdbd;
			}
		}
	}
}

.item-pricing-action {
	text-align: center;
}

/* Pagination
=================================== */
.paging {
	margin: 40px 0 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
		}
	}

	a,
	> span,
	li span {
		display: inline-block;
		font-size: 13px;
		padding: 12px 16px;
		margin: 0 3px 0 0;
		line-height: normal;
		background-color: $primary-color;
		color: $text-on-primary;
		font-family: $secondary-font;
	}

	a:hover,
	.current {
		background-color: $secondary-color;
		color: $primary-color;
	}
}

/* Back to top arrow */
.back-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-color: $primary-color;
	color: $secondary-color;
	text-align: center;
	line-height: 38px;
	font-size: 24px;
	z-index: 999;
	opacity: 0;
	transition: opacity .25s ease;
	pointer-events: none;

	&:hover {
		background-color: $secondary-color;
		color: $primary-color;
	}
}

.back-top-visible {
	opacity: 1;
	pointer-events: auto;
}

/* FAQ
=================================== */
.faq-section:not(last-child) {
	margin-bottom: 40px;
}

.faq-wrap {
	margin-bottom: 5px;
}

.faq-title {
	display: block;
	padding: 20px 20px;
	margin-bottom: 0;
	background-color: $primary-color;
	color: $text-on-primary;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		border: 6px solid transparent;
		border-left-color: $body-bg;
		width: 0;
		height: 0;
		top: 50%;
		margin-top: -6px;
		opacity: 0;
		left: -10px;
		transition: opacity .18s ease, left .28s ease;
	}

	&:hover,
	&.faq-open {
		background-color: $secondary-color;
		color: $primary-color;

		&::before {
			opacity: 1;
			left: 0;
		}
	}
}

.faq-content {
	background-color: rgba(#000, .03);
	padding: 20px;
	margin: 0;
	display: none;

	p:last-child {
		margin-bottom: 0;
	}
}