{% extends 'base.html' %}
{% load static %}


{%  block title %}

    {% if site_settings.site_name %}
        Все услуги |{{ site_settings.site_name  }}|
    {% else %}
        Все услуги
    {% endif %}
{% endblock %}
{% block content %}
    <div class="page-hero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-title">Предоставляемые услуги</h2>
                </div>
            </div>
        </div>
    </div>


    <main class="main">
        <div class="container">
        <p class="page-subtitle">
            <div class="entry-meta">
                <p class="entry-meta-item entry-categories"><a href="{% url 'home_url' %}">Главная</a></p>
                <p class="entry-meta-item entry-comments-link">Все услуги</p>
            </div>
        </p>
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-xs-12">
                    <article class="entry">

                          {% if kindworks %}
                             <div class="row row-equal row-items">

                                {% for kindwork in kindworks %}

                                    <div class="col-md-6 col-xs-12">
                                        <div class="item item-left">
                                            <figure class="item-thumb">
                                                <div style="position: relative">
                                                    <a href="{{ kindwork.get_absolute_url }}">
                                                        <div class="imagetext">
                                                            {% if kindwork.main_image %}<img src="{{ kindwork.main_image.url }}" style="height: 350px; width: 400px" class="example_beauty" />{% else %}<img src="{% static 'images/not-image.jpg' %}" style="height: 350px; width: 450px" class="example_beauty" />{% endif %}

                                                        <div class="for_text">
                                                            <div align="center">
                                                                <div class="btn btn-lg">
                                                                 {{ kindwork.name }}<i class="fa fa-caret-right"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </figure>

                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                        {% else %}
                            <div class="col-xl-12 col-md-12 col-xs-12">
                                <div align="center">
                                    <figure class="entry-thumb">
                                        <span align="center"><img align="center" src="{% static 'images/non-page.png' %}" alt=""> </span>
                                    </figure>
                                </div>

                            </div>

                        {% endif %}

                    </article>
                </div>

                {% include 'kind_works&service/includes/right_column.html' %}

            </div>
        </div>
    </main>

{% endblock %}