/* -----------------------------------------
	01. General
----------------------------------------- */

// Reset the box-sizing

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Basic Typography
=================================== */
body {
	line-height: 1.6923;
	font-size: 13px;
	background-color: $body-bg;
	color: $text-color;
	font-family: $primary-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	line-height: normal;
	margin: 0 0 15px 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-family: $secondary-font;
	letter-spacing: -.05em;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 0 0 15px 0;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

a {
	transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
	outline: none;
	color: $primary-color;
	text-decoration: none;

	&:hover {
		color: lighten($primary-color, 10%);
		outline: none;
		text-decoration: none;
	}

	&:active {
		outline: none;
	}
}

.group {
	@include clearfix();
}

/* General Element Styling
=================================== */

/* Reset figure margin from normalize.css */
figure {
	margin: 0;
}

/* Lists */
ul, ol {
	padding-left: 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dl {
	margin: 0 0 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 15px;
}

/* Blockquotes */
blockquote {
	margin: 20px 0;
	padding-left: 15px;
	border-left: 3px solid #ccc;
	font-size: 17px;
	font-weight: 300;

	cite {
		display: block;
		font-weight: bold;
		font-style: italic;
		margin: 10px 0 0;
		color: rgba($text-color, 0.8);
		font-size: 14px
	}
}

/* Tables */
table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}

.entry-content {
	table {
		border-width: 1px 0 0 1px;
		margin-bottom: 24px;
	}

	th:first-child,
	td:first-child {
		padding-left: 0;
	}

	th,
	td {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	caption,
	th,
	td {
		font-weight: normal;
		text-align: left;
		padding: 5px;
		vertical-align: middle;
	}

	th {
		border-width: 0 1px 1px 0;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 85%;
	}

	td {
		border-width: 0 1px 1px 0;
	}
}

/* Code */
code, kbd, tt, var, samp, pre {
	font-family: monospace, serif;
	hyphens: none;
	font-style: normal;
}

pre {
	padding: 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Various */
address {
	margin: 0 0 15px;
}

.sr-only,
.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* Embeds and iframes
=================================== */

embed,
iframe,
object,
video,
audio {
	margin-bottom: 15px;
	max-width: 100%;
}

p > embed,
p > iframe,
p > object,
p > audio,
span > embed,
span > iframe,
span > object,
span > audio {
	margin-bottom: 0;
}

#map,
.map * {
	max-width: none !important;
}

/* General Form Styling
=================================== */

label {
	display: block;
	margin: 0 0 2px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: $secondary-font;
	font-size: 12px;
}

input,
textarea {
	display: inline-block;
	font-size: inherit;
	width: 100%;
	max-width: 100%;
	height: 42px;
	padding: 6px 12px;
	box-shadow: none;
	line-height: normal;
	color: $text-color;
	background-color: #FFF;
	background-image: none;
	border-radius: 0;
	border: 2px solid $primary-color;
	transition: border-color .18s ease;

	&:hover,
	&:focus {
		border-color: $secondary-color;
		outline: none;
	}

	.footer & {
		border: 0;
	}

	@include media-breakpoint-down(xs) {
		width: 100%;
	}
}

input[type="search"] { /* Restoring box-sizing */
	box-sizing: border-box;
}

textarea {
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

select {
	max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 4px 0 0;
	margin-top: 1px \9
; // IE8-9
	line-height: normal;
	width: auto;
	height: auto;
}

fieldset {
	margin: 0 0 15px;
	padding: 0;
	border: none;
	min-width: 0;
}

/* Placeholder text color */
@include placeholder {
	color: rgba($text-color, 0.5);
	font-weight: normal;
	opacity: 1;
}

/* Custom Selects */
.ci-select {
	position: relative;

	select {
		cursor: pointer;
		appearance: none;
		border-radius: 0;
		border: 0;
		box-shadow: none;
		text-transform: uppercase;
		height: 42px;
		font-weight: bold;
		color: $text-on-primary;
		font-size: 12px;
		background-color: $primary-color;
		outline: 0;
		padding: 7px 20px;
		width: 100%;
	}

	option {
		background-color: #FFF;
		text-transform: none;
		font-weight: normal;
		padding: 5px;
	}

	&::after {
		font-family: 'FontAwesome';
		content: '\f107';
		font-size: 16px;
		height: 100%;
		color: $text-on-primary;
		position: absolute;
		right: 15px;
		top: 0;
		line-height: 42px;
	}
}

/* Inset Form Fields */
.form-inset-group {
	position: relative;

	button[type="submit"],
	input[type="submit"] {
		position: absolute;
		right: 5px;
		top: 5px;
		height: 32px;
		padding: 8px 12px;
	}
}

/* Buttons
=================================== */

.btn,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	display: inline-block;
	font-weight: bold;
	margin: 0;
	line-height: normal;
	border: none;
	box-shadow: none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	transition: 0.18s background-color ease, color 0.18s ease, 0.18s border-color ease;
	user-select: none;
	border-radius: 0;
	width: auto;
	height: 42px;
	background-image: none;
	padding: 13px 20px 12px;
	font-size: 12px;
	background-color: $primary-color;
	color: $text-on-primary;
	text-transform: uppercase;

	&:active {
		outline: none;
	}

	&:hover {
		background: $secondary-color;
		color: $primary-color;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

.btn-arrow {
	padding-right: 80px;
	position: relative;

	&::after {
		font-family: 'FontAwesome';
		content: '\f105';
		position: absolute;
		font-size: 16px;
		right: 15px;
		line-height: normal;
	}
}

.btn-lg {
	height: 50px;
	padding: 15px 55px;
	font-family: $secondary-font;
	font-weight: bold;
	text-transform: none;
	letter-spacing: -.05em;
	font-size: 16px;

	i {
		margin-left: 5px;
		position: relative;
		top: 1px;
	}
}

/* Tables
=================================== */
.table {
	th, td {
		text-align: left;
		font-size: 14px;
		border-bottom: 1px solid $border-color;
		padding: 5px 0;

		.footer & {
			border-bottom-color: $border-on-secondary;
		}
	}
}

/* CI-Slider Overrides
=================================== */

.ci-slider {
	margin: 0;
	padding: 0;
	box-shadow: none;
	border-radius: 0;
	border: 0;

	&.loading {
		&:before {
			@include spinner;
			content: "";
			position: absolute;
			right: 20px;
			top: 20px;
			z-index: 1000;
		}
	}

	.slides li:after {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1000;
	}
}

.ci-direction-nav a {
	top: 50%;
	opacity: 0.7;
	line-height: normal;

	&:hover {
		color: #FFF;
		opacity: 1;
	}
}

.ci-slider .slides > li:first-child {
	display: block; /* Display flexslider's first item no matter if its loading or not */
	-webkit-backface-visibility: visible;
}

.ci-slider.loading .slides > li:first-child {
	opacity: 1 !important; /* Remove the fade in/out animation when the slider loads */
}

/* Magnific Popup Overrides
=================================== */
.mfp-bg {
	background-color: #000;
}

.mfp-preloader {
	color: #FFF;

	a, a:hover {
		color: #FFF;
	}
}

.mfp-container:not(.mfp-s-error) {
	.mfp-preloader {
		@include spinner;
		background-color: transparent;
		text-indent: -999em;
		margin: 0 auto;
	}
}

button.mfp-close,
button.mfp-arrow {
	border: none;
	opacity: 1;

	&:hover {
		background: none;
		border: none;
	}
}

.mfp-close-btn-in {
	.mfp-close {
		color: #FFF;
	}
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: #FFF;
}

.mfp-arrow {
	line-height: 0.3;

	&:before,
	&:after {
		border: none;
	}

	&:after {
		font-family: FontAwesome;
		font-size: 70px;
		color: #FFF;
	}
}

.mfp-arrow-right {
	&:after,
	.mpf-a {
		content: "\f105";
	}
}

.mfp-arrow-left {
	&:after,
	.mpf-a {
		content: "\f104";
	}
}

/* Text Alignment Helpers
=================================== */
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justified {
	text-align: justify;
}